.footer {
  &__wrapper {
    position: absolute;
    bottom: 0;
    color: #202124;
    font-size: 14px;
    width: 100%;
    background: #f2f2f2;
  }
  
  &__location {
    padding: 15px 30px;
    font-size: 15px;
    color: #202124;
    border-bottom: 1px solid #dadce0;
  }
  
  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    
    &__element {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
      &--google {
        justify-content: flex-start;
        min-width: 30%;
      }
      &--company {
        justify-content: flex-end;
        min-width: 30%;
      }
    }
    &__item {
      user-select: none;
      padding: 15px;
      cursor: pointer;

      &:hover{
        text-decoration: underline;
      }
    }
  }
}
